@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  src: url("./fonts/NanumGothic.ttf");
}
:root {
  --font-NanumGothic:"NanumGothic"
}
body {
  margin: 0;
  font-family: var(--font-NanumGothic);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  max-width: 500px;
  */
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-height: 100%;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

code {
  font-family: "NanumGothicLight";
}

